
<nav>
  <div class="nav-wrapper blue-grey darken-2">
    <a href="#!" class="brand-logo" valign-wrapper><img src="assets/_img/logo-glogs.png" class="logo"/></a>
    <ul class="right hide-on-med-and-down">
    <li><a class="dropdown-button" id="dropdownUser" data-activates="dropdown1" onclick="$('#dropdownUser').dropdown('dropdown1');$('#dropdownUser').dropdown('open');"> {{this.userInfos.firstName}} {{this.userInfos.lastName}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
  <li><a href="#!"><i class="material-icons">settings_power</i>Log out</a></li>
</ul>
